main {
    max-width: 1100px;
}

.topo {
    margin-bottom: 20px;
}

.acoes-topo {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #2563eb;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background-color: #1d4ed8;
}

.btn-home {
    background-color: #6b7280;
}

.btn-home:hover {
    background-color: #4b5563;
}

td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 60px;
}

.editar,
.excluir {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 36px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.editar {
    background-color: #f59e0b;
}

.editar:hover {
    background-color: #d97706;
}

.excluir {
    background-color: #dc2626;
}

.excluir:hover {
    background-color: #b91c1c;
}
