<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque de Peças</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estoque.css') }}">
</head>

<body>

<header>
    <div>
        <h1>Estoque de Peças</h1>
        <p>Cadastro e controle das peças disponíveis na assistência técnica</p>
    </div>

    <div class="header-user">
        <span class="user-icon" aria-hidden="true"></span>
        <span>{{ session.get("funcionario_nome", "") }}</span>
    </div>
</header>

<main>
    <div class="container">
        
        <div class="dashboard-cards">

    <div class="card-indicador">
        <h3>📦 Peças</h3>
        <p>{{ total_pecas }}</p>
    </div>

    <div class="card-indicador alerta">
        <h3>⚠️ Estoque Baixo</h3>
        <p>{{ estoque_baixo }}</p>
    </div>

    <div class="card-indicador">
        <h3>📈 Movimentações</h3>
        <p>{{ total_movimentacoes }}</p>
    </div>

</div>

        <div class="topo">
            <h2>Cadastrar nova peça</h2>

            <div class="acoes-topo">
                <a href="/estoque/historico" class="btn">Historico</a>
                 <a href="/estoque/relatorio/pdf" class="btn">Gerar PDF</a>
                <a href="/" class="btn btn-home">Voltar para Home</a>
            </div>
        </div>

        <form action="/estoque/cadastrar" method="POST">
            <div class="form-grid">
                <div class="campo">
                    <label>Nome:</label>
                    <input type="text" name="nome" required>
                </div>

                <div class="campo">
                    <label>Descricao:</label>
                    <input type="text" name="descricao">
                </div>

                <div class="campo">
                    <label>Quantidade:</label>
                    <input type="number" name="quantidade" min="0" required>
                </div>

                <div class="campo">
                    <label>Estoque minimo:</label>
                    <input type="number" name="estoque_minimo" min="0">
                </div>

                <div class="campo">
                    <label>Preco unitario:</label>
                    <input type="number" step="0.01" min="0" name="preco_unitario">
                </div>

                <div class="campo">
                    <label>Fornecedor:</label>
                    <input type="text" name="fornecedor">
                </div>
            </div>

            <div class="form-botao">
                <button type="submit" class="btn">Cadastrar peça</button>
            </div>
        </form>

        <div class="busca-container">
    <form action="/estoque" method="GET" class="form-busca">
        <input
            type="text"
            name="busca"
            placeholder="Buscar por nome, descrição ou fornecedor"
            value="{{ busca }}"
        >

        <button type="submit" class="btn">
            Pesquisar
        </button>
    </form>
</div>

        <h2>Peças cadastradas</h2>

        <table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Quantidade</th>
            <th>Estoque minimo</th>
            <th>Preco unitario</th>
            <th>Fornecedor</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for peca in pecas %}
        <tr class="{% if peca['quantidade'] <= peca['estoque_minimo'] %}estoque-baixo{% endif %}">
            <td>{{ peca['nome'] }}</td>
            <td>{{ peca['descricao'] }}</td>
            <td>{{ peca['quantidade'] }}</td>
            <td>{{ peca['estoque_minimo'] }}</td>
            <td>R$ {{ peca['preco_unitario'] }}</td>
            <td>{{ peca['fornecedor'] }}</td>

            <td>
                {% if peca['quantidade'] <= peca['estoque_minimo'] %}
                    <span class="status-baixo">⚠️ Baixo estoque</span>
                {% else %}
                    <span class="status-normal"> Normal</span>
                {% endif %}
            </td>

            <td>
                <a href="/estoque/editar/{{ peca['id'] }}" class="btn">Editar</a>
                <a href="/estoque/movimentar/{{ peca['id'] }}" class="btn">Movimentar</a>

                <form action="/estoque/excluir/{{ peca['id'] }}" method="POST" class="acoes-form">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8" class="mensagem-vazia">
                Nenhuma peça cadastrada.
            </td>
        </tr>
        {% endfor %}
    </tbody>
        </table>
    </div>
</main>

</body>
</html>
