<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordens de serviço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ordem-servico.css') }}">
</head>

<body>

<header>
    <h1>Ordens de serviço</h1>
    <p></p>
</header>
    <table>
        <tr>
            <th>ID</th>
            <th>Defeito relatado</th>
            <th>Status</th>
            <th>Data de abertura</th>
        </tr>

        {% for ordem in ordens %}
        <tr>
            <td>{{ ordem["id"] }}</td>
            <td>{{ ordem["defeito_relatado"] }}</td>
            <td>{{ ordem["status"] }}</td>
            <td>{{ ordem["data_abertura"] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Nenhuma ordem cadastrada.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>